.friendPageContainer .pageContainer{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #ffcf88;
    height: 100vh;
}

.friendPageContainer .friendSection{
    background-color: #f8a526;
    height: 98vh; /* Adjust as needed */
    overflow-y: auto;
    margin: 10px -8%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 105%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* add friend modal */
.addFriendModal{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    height: 90vh;
    z-index: 1000; /* Ensure the modal appears above the overlay */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.addFriendModal .friendHeadContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.friendHeadContainer .searchContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.friendHeadContainer .searchContainer input[type=text]{
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #d6d6d6;
    border: 3px rgb(173, 173, 173) solid;
    font-size: 20px;
}

.searchContainer .icon{
    height: 30px;
}

.searchContainer .icon:hover{
    color: #b16a00;
    cursor: pointer;
}

#userFoundStatus{
    font-weight: bold;
}

/* friend search */
.matchedUserOuterContainer{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-y: auto;
}

.matchUserContainer{
    background-color: #d6d6d6;
    border: 3px rgb(173, 173, 173) solid;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px 20px;
    width: 40%;
    height: 100%;
}

.matchedUserOuterContainer img{
    margin-right: 10px;
    border-radius: 500px;
    height: 10%;
    width: 35%;
    cursor: pointer;
    border: solid 3px rgb(153, 152, 152);
}

.matchUserContainer h1{
    margin-top: -3%;
    margin-bottom: -3%;
    cursor: pointer;
}

.matchUserContainer h1:hover{
    color: #b16a00;
}

.matchUserContainer .userDescOuterContainer, .friendListContainer .userDescOuterContainer{
    flex-direction: column;
    overflow: hidden; /* Hide any content that exceeds the container's dimensions */
    text-overflow: ellipsis; /* Add ellipsis for text overflow */
}

#friendPfp{
    width: 40%;
}

/* user profile modal */
.userProfileModalInFriend{
    background-color: white;
    margin: auto;
    width: 150vh;
    height: 90vh;
    z-index: 1000;
    border-radius: 10px;
}

.profileFriendDescContainer h1, .profileFriendDescContainer p {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.profileFriendDescContainer h1{
    font-size: 35px;
}

.profileFriendDescContainer{
    border-left: 2px solid black;
    padding: 10px;
}

.profileFriendDescContainer #userDesc{
    overflow-y: auto;
    overflow-x: hidden;
    height: 60%;
    margin: 10px 0px;
}

.profileFriendDescContainer #userDate{
    font-weight: bold;
}

/* friend req popup */
.friendReqModal{
    background-color: white;
    margin: auto;
    width: 100vh;
    height: 80vh;
    z-index: 1000;
    border-radius: 10px;
}

.friendReqModal h1, .friendReqModal h2{
    text-align: center;
    margin: 0;
    padding: 0;
}

.friendReqModal h1{
    margin-top: 20px;
    margin-bottom: 10px;
}

.friendReqModal h2{
    font-weight: normal;
}

/* accept/decline friend req buttons */
.accDelBtns{
    display: flex;
    gap: 10px;
}

/* friend list */
.friendsList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    overflow-y: auto;
}

.friendSection h1, #friendListStatus{
    margin: 0;
    padding: 0;
}

.friendSection h1{
    font-size: 30px;
    margin-top: 30px;
}

#friendListStatus{
    margin-top: 10px;
    font-size: 20px;
}

.friendSection h2{
    font-size: 30px;
    text-decoration: underline;
}

.friendListContainer{
    background-color: #d6d6d6;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    gap: 20px;
    width: 40%;
    border: 3px rgb(173, 173, 173) solid;
}

.friendListContainer img{
    border-radius: 500px;
    border: 3px rgb(173, 173, 173) solid;
}

/* confirm popup to remove friend */
.confirmRemoveModal{
    background-color: white;
    margin: auto;
    width: 60vh;
    height: 40vh;
    z-index: 1000;
    border-radius: 10px;
    display: flex;
}

.confirmRemoveModal .modalBodyContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    padding: 0px 3%;
}

.confirmRemoveModal .modalBodyContainer .userBtns{
    display: flex;
    justify-content: center;
    gap: 30px;
}


