*{
    font-family: sans-serif;
}

button{
    cursor: pointer;
}

/* styling for the loading modals */
.loadingModal{
    align-items: center;
    display: flex;
    height: 50vh;
    justify-content: center;
    margin: auto;
    overflow: none;
    width: 50vh;
    z-index: 9999; /* Ensure the modal appears above the overlay */
    outline: none;
    border: none;
}

.loadingModal img{
    margin-left: 10%;
    width: 80%;
    outline: none;
    border: none;
}


/* notification alert modal */
.alertModal{
    background-color: white;
    width: 40vh;
    height: 25vh;
    position: absolute !important;
    inset: unset !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: 0 0 3% 3%;
    border-radius: 10px;
    z-index: 1000;
}

.alertModal .modalHeader{
    background-color: pink;
    border-radius: 10px 10px 0 0 ;
}




