/* the whole page */
.homeContainer .pageContainer{
    background-color: #ffcf88;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
}

/* feed container */
.homeContainer .feedContainer{
    -ms-overflow-style: none;  /* IE and Edge */
    align-items: center;
    background-color: #f8a526;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 98vh; /* Adjust as needed */
    margin: 10px -12%;
    overflow-y: auto;
    scrollbar-width: none;  /* Firefox */
    width: 110%;
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
.homeContainer .feedContainer::-webkit-scrollbar {
    display: none;
}

/* each post */
.pageContainer .postContainer{
    /* padding: 0px 20px; */
    border-radius: 10px;
    border-radius: 10px;
    margin: 15px;
    width: 95%;
}

.postContainer .postImgContainer{
    background-color: black;
}

.pageContainer .postContainer .imgPost{
    background-color: black ;
    display: block; /* Remove any potential whitespace */
    margin: auto; /* Center horizontally */
    width: 50%;
}

/* userpfp, name, and date on post */
.pageContainer .userHeaderContainer{
    align-items: center;
    background-color: rgb(221, 221, 221);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
}

.pageContainer .userHeaderContainer h1{
    font-size: 30px;
    margin-bottom: -5px;
    text-decoration: underline;
}

.pageContainer .userHeaderContainer .imgContainer {
    padding-bottom: 10%; /* This creates a square container */
    position: relative; /* This is necessary for the padding-bottom trick */
    width: 10%; /* Adjust percentage as needed */
}

.pageContainer .userHeaderContainer .imgContainer img {
    border-radius: 500px; 
    border: 3px rgb(173, 173, 173) solid;
    height: 100%;
    left: 0;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    position: absolute;
    top: 0;
    width: 100%;
}

.userHeaderContainer .imgContainer img:hover, #friendPfp:hover, .matchedUserOuterContainer img:hover{
    cursor: pointer;
    opacity: 0.5;
}

/* title of post */
.postContainer2 h2{
    font-size: 35px;
    margin-bottom: -0.5%;
    padding: 3% 20px 0px;
}

.postBodyContainer{
    /* Left, right, and bottom inner shadow */
    background-color: rgb(221, 221, 221);
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-top: 10px;
}

.postBodyContainer h2, .postBodyContainer p{
    margin: 0;
    padding: 0;
}

.postBodyContainer p{
    padding-bottom: 30px;
}

/* like and comment btn container */
.footerContainer{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.footerContainer .icons{
    cursor: pointer;
    height: 10%;
    width: 6%;
}

/* modal when the user creates a new post */
.newPostModal{
    background-color: white;
    border-radius: 10px;
    height: 85vh;
    margin: auto;
    width: 60vw;
    z-index: 1000; /* Ensure the modal appears above the overlay */
}

.newPostModal h1{
    text-align: center;
}

/* x button header */
.modalHeader{
    align-items: center;
    background-color: #f8a526;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    padding: 10px 0px;
}

.bodyModalContainer{
    display: flex;
    flex-direction: column;
    height: 70vh;
    /* justify-content: center; */
}

.modalHeader button{
    border: none;
    height: 50px;
}

.modalHeader button:hover{
    background-color: white;
}

.newPost{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.newPost input[type=text]{
    font-size: 20px;
    padding: 2%;
    width: 80%;
}

.newPost input[type=file]{
    cursor: pointer;
}

.newPost textarea{
    font-size: 20px;
    padding: 2%;
    resize: none;
    height: 100%;
    width: 80%;
}

.newPost input[type=text], .newPost textarea{
    border-radius: 10px;
    border: 5px solid rgb(226, 228, 230);
    outline: none;
}

.newPost button{
    background-color: #f8a526;
    border-radius: 20px;
    border: 3px solid #f8a526;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add darker orange shadow */
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 50px;
}

.newPost button:hover{
    background-color: white;
    border: 3px solid #f8a526;
}

.newPost img{
    width: 95%;
}

.newPostContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 450px;
    padding: 3% 0;
    width: 90%;
}

.newPostContainer .userTextInput{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.newPostContainer .userImgInput{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

/* modal when user presses on another user's name */
.userProfileModal{
    background-color: white;
    border-radius: 10px;
    height: 90vh;
    margin: auto;
    width: 100vh;
    z-index: 1000;
}

.userProfileModal .profileContainer, .userProfileModalInFriend .profileContainer{
    background-color: #E9E9E9;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px 0px;
}

.userProfileModal .descContainerSide, .userProfileModalInFriend .descContainerSide{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    width: 30%;
}

.userProfileModal .profileContainer img, .userProfileModalInFriend img{
    border-radius: 500px;
    border: 3px rgb(173, 173, 173) solid;
    width: 20%;
}

/* username, description, and date joined on the profiles */
.userBodyModalContainer .profileDescContainer{
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-left: 10px;
    width: 100%;
}

.profileDescContainer #userDesc{
    /* height: 40%; */
    margin: 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.profileDescContainer h1{
    font-size: 35px;
}

.profileDescContainer #userDate{
    font-weight: bold;
    margin-bottom: 10px;
}

.profileDescContainer h1, .profileDescContainer p {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.addFriendBtn, #accFriBtn, #decFriBtn, #removeFriBtn, #removeBtn, #nvmBtn, #logoutBtn{
    background-color: #f8a526;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 20px;
}

.addFriendBtn:hover, #accFriBtn:hover, #decFriBtn:hover, #removeFriBtn:hover, #removeBtn:hover, #nvmBtn:hover, #logoutBtn:hover{
    background-color: #af741c; 
}

.userBodyModalContainer .userProfilePostContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userProfilePostContainer .userPostContainer{
    background-color: black;
    border-radius: 10px;
    margin: 30px 0px;
    width: 70%;
}

.userProfilePostContainer .userPostContainer img{
    border-radius: 0px !important;
    display: block;
    margin: auto;
    width: 70%;
}

.userProfilePostContainer .nameDateContainer{
    align-items: center;
    background-color: rgb(221, 221, 221);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.userHeaderContainer .nameDateContainer h1:hover, .friendListContainer h2:hover{
    color: #b16a00;
    cursor: pointer;
}

/* title and desc of the post */
.userProfilePostContainer .postBodyContainer{
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}

.postBodyContainer h2{
    font-size: 30px;
    padding: 10px 0px;
}

/* modal popup for comments */
.commentModal{
    background-color: white;
    border-radius: 10px;
    height: 90vh;
    margin: auto;
    overflow: hidden !important;
    width: 80vw;
    z-index: 1000; /* Ensure the modal appears above the overlay */
}

.commentModal h1{
    text-align: center;
}

.commentModal .bodyModalContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.commentModal .currentPostContainer{
    display: flex;
    justify-content: center;
}

.commentModal .postContainer{
    background-color: #ffcf88;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 90%;
}

.commentModal .userHeaderContainer{
    align-items: center;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.commentModal .userHeaderContainer .imgContainer {
    padding-bottom: 20%; /* This creates a square container */
    position: relative; /* This is necessary for the padding-bottom trick */
    width: 20%; /* Adjust percentage as needed */
}

.commentModal .userHeaderContainer .imgContainer img{
    border-radius: 500px; /* Adjust radius as needed */
    border: 3px rgb(173, 173, 173) solid;
    height: 100%;
    left: 0;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    position: absolute;
    top: 0;
    width: 100%;
}

.commentModal .nameDateContainer h2{
    font-size: 30px;
}

.commentModal .nameDateContainer h2, .commentModal .nameDateContainer p, .captionContainer h2, .captionContainer p{
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.captionContainer h2{
    margin-top: 20px;
}

.commentModal .imgPost{
    height: 80%;
    width: 100%;
}

/* comments on the right */
.commentContainer{
    background-color: #E9E9E9;
    height: 100vh;
    padding: 20px;
}

.commentContainer h1{
    margin: -5px;
}

.commentContainer .comments{
    height: 63vh;
    overflow-y: auto;
}

.commentContainer .inputContainer{
    display: flex;
    align-items: center;
}

.commentContainer .inputContainer input[type=text]{
    background-color: #d6d6d6;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    outline: none;
    padding: 10px;
    width: 90%;
}

.commentContainer .inputContainer .icon{
    width: 50px;
}

.commentDateContainer{
    background-color: #ffcf88;
    border-radius: 0 10px 10px;
    margin: -15px 10px 30px 0;
    padding: 5px 10px;
}

.commentDateContainer .commentDate{
    text-align: right;
}

/* third column in grid layout */
.suggested{
    background-color: #f8a526;
    margin: 10px;
    border-radius: 10px;
    height: 98vh;
}