.homeContainer .headerContainer{
    display: flex;
    align-items: center;
    right: 0;
    padding: 0 20px;
    position: fixed;
    gap: 10px;
}

.homeContainer .headerContainer:hover{
    background-color: rgb(226, 228, 230);
    border-radius: 10px;
}

.postIcon{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.feedContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 20%;
    gap: 20px;

}

/* user post feed */
.postContainer{
    display: flex;
    flex-direction: row; 
    flex-grow: 1; 
    width: 50%;
}

.postContainer2{
    background: linear-gradient(to bottom, rgb(152, 154, 156), rgb(226, 228, 230));
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 80%;
}

.userPostName, .postHeader, .postDesc{
    margin-left: 5%;
}

.postContainer2 img{
    width: 100%;
}

.footerContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color: yellow; */
}

.footerContainer .icons{
    width: 20%;
    height: 70%;
    cursor: pointer;
    position: relative;
    /* background-color: pink; */
    margin-top: -10%;
    margin-bottom: 3%;
}

#commentIcon{
    margin-left: -8%;
}



.footerContainer .icons:hover{
    color: pink;
}

.commentPopupContainer{
    width: 30%;
    position: relative;
}

.commentPopupContainer h1{
    text-align: center;
}

.userComments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: yellowgreen;
    width: 150%;
}

.comments{
    height: 80%;
    padding: 10px;
    margin: 10px;
}

.userComments .inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userComments .icon{
    height: 50%;
    width: 20%;
    margin-left: -5%;
    cursor: pointer;
}

.userComments input[type="text"]{
    margin: 10px;
    padding: 10px;
    font: 20px;
    width: 80%;
    border: none;
    border-radius: 10px;
}

.userPostName{
    width: 90%;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
    position: relative;
    cursor: pointer;
}

.userPostName:hover{
    color: rgb(202, 131, 0);
}

.postHeader{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.postDate{
    font-size: 20px;
}

.postDesc{
    text-align: left;
    width: 90%;
    font-size: 18px;
    margin-top: 1%;
    margin-bottom: 5%;
}

/* modal when user presses on newpost */

.newPostModal{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 40vw;
    height: 90vh;
    z-index: 1000; /* Ensure the modal appears above the overlay */
}

.newPostModal h1{
    text-align: center;
}

.modalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8a526;
    padding: 10px 0px;
    font-size: 28px;
}

.bodyModalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.modalHeader button{
    border: none;
}

.newPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.newPost input[type=text]{
    font-size: 20px;
    padding: 2%;
    width: 80%;
}

.newPost input[type=file]{
    cursor: pointer;
    margin: 2% 0;
}

.newPost textarea{
    font-size: 20px;
    padding: 2%;
    resize: none;
}

.newPost input[type=text], .newPost textarea{
    border: 5px solid rgb(226, 228, 230);
    outline: none;
    border-radius: 10px;
}

.newPost button{
    background-color: #f8a526;
    border: 3px solid #f8a526;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add darker orange shadow */
}

.newPost input[type=file]{
    font-size: 20px;
}

.newPost button:hover{
    border: 3px solid #f8a526;
    background-color: white;
}

/* modal when user presses on another user's name */
.userProfileModal{
    background-color: white;
    margin: auto;
    width: 100vh;
    height: 90vh;
    z-index: 1000;
    border-radius: 10px;
}

.userProfileModal .profileContainer{
    display: flex;
    background-color: rgb(226, 228, 230);
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
    padding: 5% 0px;
    gap: 10px;
}

.userProfileModal .profileContainer img{
    height: 30%;
    width: 30%;
    border-radius: 10px;
}

.profileDescContainer{
    border-radius: 10px;
    height: auto;
    width: 40%;
    padding: 10px 40px 10px 10px;
}

.userProfilePostContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.userProfilePostContainer .userPostContainer{
    background-color: rgb(226, 228, 230);
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}