/* the whole page */
.homeContainer .pageContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #ffcf88;
    height: 100vh;
}

/* feed container */
.homeContainer .feedContainer{
    height: 98vh; /* Adjust as needed */
    overflow-y: auto;
    background-color: #f8a526;
    margin: 10px -12%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
.homeContainer .feedContainer::-webkit-scrollbar {
    display: none;
}

/* each post */
.pageContainer .postContainer{
    width: 95%;
    margin: 15px;
    border-radius: 10px;
    border-radius: 10px;
    /* padding: 0px 20px; */
}

.postContainer .postImgContainer{
    background-color: black;
}

.pageContainer .postContainer .imgPost{
    width: 50%;
    display: block; /* Remove any potential whitespace */
    margin: auto; /* Center horizontally */
    background-color: black ;
}

/* userpfp, name, and date on post */
.pageContainer .userHeaderContainer{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: rgb(221, 221, 221);
}

.pageContainer .userHeaderContainer h1{
    font-size: 30px;
    margin-bottom: -10%;
    text-decoration: underline;
}

.pageContainer .userHeaderContainer .imgContainer {
    width: 10%; /* Adjust percentage as needed */
    position: relative; /* This is necessary for the padding-bottom trick */
    padding-bottom: 10%; /* This creates a square container */
}

.pageContainer .userHeaderContainer .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    border-radius: 500px; 
    border: 3px rgb(173, 173, 173) solid;

}

.userHeaderContainer .imgContainer img:hover, #friendPfp:hover, .matchedUserOuterContainer img:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* title of post */
.postContainer2 h2{
    font-size: 35px;
    padding: 3% 20px 0px;
    margin-bottom: -0.5%;
}

.postBodyContainer{
    /* Left, right, and bottom inner shadow */
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(221, 221, 221);
    padding-left: 20px;
    padding-top: 10px;
}

.postBodyContainer h2, .postBodyContainer p{
    margin: 0;
    padding: 0;
}

.postBodyContainer p{
    padding-bottom: 30px;
}

/* like and comment btn container */
.footerContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.footerContainer .icons{
    width: 6%;
    height: 10%;
    cursor: pointer;
}

/* modal when the user creates a new post */
.newPostModal{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 40vw;
    height: 90vh;
    z-index: 1000; /* Ensure the modal appears above the overlay */
}

.newPostModal h1{
    text-align: center;
}

/* x button header */
.modalHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8a526;
    padding: 10px 0px;
    font-size: 20px;
}

.bodyModalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.modalHeader button{
    border: none;
    height: 50px;
}

.modalHeader button:hover{
    background-color: white;
}

.newPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.newPost input[type=text]{
    font-size: 20px;
    padding: 2%;
    width: 80%;
}

.newPost input[type=file]{
    cursor: pointer;
    margin: 2% 0;
}

.newPost textarea{
    font-size: 20px;
    padding: 2%;
    resize: none;
}

.newPost input[type=text], .newPost textarea{
    border: 5px solid rgb(226, 228, 230);
    outline: none;
    border-radius: 10px;
}

.newPost button{
    background-color: #f8a526;
    border: 3px solid #f8a526;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add darker orange shadow */
}

.newPost input[type=file]{
    font-size: 20px;
}

.newPost button:hover{
    border: 3px solid #f8a526;
    background-color: white;
}

/* modal when user presses on another user's name */
.userProfileModal{
    background-color: white;
    margin: auto;
    width: 100vh;
    height: 90vh;
    z-index: 1000;
    border-radius: 10px;
}

.userProfileModal .profileContainer, .userProfileModalInFriend .profileContainer{
    display: flex;
    justify-content: center;
    background-color: #E9E9E9;
    padding: 20px 0px;
    gap: 10px;
}

.userProfileModal .descContainerSide, .userProfileModalInFriend .descContainerSide{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.userProfileModal .profileContainer img, .userProfileModalInFriend img{
    width: 20%;
    border-radius: 500px;
    border: 3px rgb(173, 173, 173) solid;
}

/* username, description, and date joined on the profiles */
.userBodyModalContainer .profileDescContainer{
    height: 100%;
    width: 100%;
    border-left: 2px solid black;
    padding-left: 10px;
}

.profileDescContainer #userDesc{
    overflow-y: auto;
    overflow-x: hidden;
    height: 40%;
    margin: 10px 0;
}

.profileDescContainer h1{
    font-size: 35px;
}

.profileDescContainer #userDate{
    font-weight: bold;
    margin-bottom: 10px;
}

.profileDescContainer h1, .profileDescContainer p {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.addFriendBtn, #accFriBtn, #decFriBtn, #removeFriBtn, #removeBtn, #nvmBtn{
    background-color: #f8a526;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.addFriendBtn:hover, #accFriBtn:hover, #decFriBtn:hover, #removeFriBtn:hover, #removeBtn:hover, #nvmBtn:hover{
    background-color: #af741c; 
}

.userBodyModalContainer .userProfilePostContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userProfilePostContainer .userPostContainer{
    background-color: black;
    border-radius: 10px;
    margin: 30px 0px;
    width: 70%;
}

.userProfilePostContainer .userPostContainer img{
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 0px !important;
}

.userProfilePostContainer .nameDateContainer{
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background-color: rgb(221, 221, 221);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
}

.userHeaderContainer .nameDateContainer h1:hover, .friendListContainer h2:hover{
    color: #b16a00;
    cursor: pointer;
}

/* title and desc of the post */
.userProfilePostContainer .postBodyContainer{
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    padding: 10px 20px;
}

.postBodyContainer h2{
    font-size: 30px;
    padding: 10px 0px;
}

/* modal popup for comments */
.commentModal{
    margin: auto;
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    height: 90vh;
    z-index: 1000; /* Ensure the modal appears above the overlay */
    overflow: hidden !important;
}

.commentModal h1{
    text-align: center;
}

.commentModal .bodyModalContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.commentModal .postContainer{
    display: flex;
    flex-direction: column;
    background-color: #ffcf88;
    border-radius: 10px;
    padding: 30px 30px 9% 30px;
    margin: 10px;
}

.commentModal .userHeaderContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.commentModal .userHeaderContainer .imgContainer {
    width: 10%; /* Adjust percentage as needed */
    height: 5%;
    position: relative; /* This is necessary for the padding-bottom trick */
    padding-bottom: 10%; /* This creates a square container */
}

.commentModal .userHeaderContainer .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    border-radius: 10px; /* Adjust radius as needed */
}

.commentModal .nameDateContainer h2{
    font-size: 20px;
}

.commentModal .imgPost{
    height: 40%;
    width: 50%;
}

/* comments on the right */
.commentContainer{
    padding: 20px;
    background-color: #E9E9E9;
    height: 100vh;
}

.commentContainer h1{
    margin: -5px;
}

.commentContainer .comments{
    height: 63vh;
    overflow-y: auto;
}

.commentContainer .inputContainer{
    display: flex;
    align-items: center;
}

.commentContainer .inputContainer input[type=text]{
    border-radius: 10px;
    background-color: #d6d6d6;
    width: 90%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 25px;
}

.commentContainer .inputContainer .icon{
    width: 50px;
}

.commentDateContainer{
    background-color: #ffcf88;
    margin: -15px 10px 30px 0;
    border-radius: 10px;
    padding: 5px 10px;
}

.commentDateContainer .commentDate{
    text-align: right;
}

/* third column in grid layout */
.suggested{
    background-color: #f8a526;
    margin: 10px;
    border-radius: 10px;
    height: 98vh;
}