.headerNav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 98vh;
    margin: 10px;
}

.headerNav img{
    width: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.icon{
    height: 70%;
    width: 20%;
}

.iconContainer{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px 5px;
    gap: 5%;
}

.iconContainer:hover{
    background-color: #a76400;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.iconContainer p{
    font-weight: bold;
    font-size: 20px;
}

.navigation{
    background-color: #f8a526;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 5px;
    height: 100vh;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}