.headerNav{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 98vh;
    margin: 10px;
}

.headerNav img{
    width: 95%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.icon{
    height: 70%;
    width: 20%;
}

.iconContainer{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0px 5px;
    gap: 5%;
}

.iconContainer:hover{
    background-color: #a76400;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.iconContainer p{
    font-weight: bold;
    font-size: 20px;
}

.navigation{
    background-color: #f8a526;
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 5px;
    height: 100vh;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* temp btn on the bottom that changes with each page */
.tempBtnContainer{
    position: fixed;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 20px;
    gap: 3%;
    width: 13.2%;
    font-weight: bold;
    margin-left: 1.3%;
    bottom: 20px;
    padding: 0.2% 1% 0.2% 0.8%;
}

.tempBtnContainer2{
    position: fixed;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 20px;
    gap: 5%;
    width: 13.5%;
    font-weight: bold;
    margin-left: 1.3%;
    bottom: 85px;
    padding: 0.2% 1% 0.2% 0.5%;
}

.tempBtnContainer:hover, .tempBtnContainer2:hover{
    background-color: #a76400;
    border-radius: 10px;
    color: white;
}

.tempBtnContainer p, .tempBtnContainer2 p{
    font-size: 20px;
    font-weight: bold;
}

.postIcon{
    height: 70%;
    width: 21%;
}
