
.headerNav{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.icon{
    height: 50px;
    width: 50px;
}

.icon:hover{
    cursor: pointer;
    color: blue;
}

.navigation{
    background-color: pink;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}