.profileContainer .profilePageContainer{
    background-color: #ffcf88;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

/* profile section of the page */
.profileContainer .userProfileContainer{
    -ms-overflow-style: none;  /* IE and Edge */
    align-items: center;
    background-color: #f8a526;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 98vh; /* Adjust as needed */
    margin: 10px -8%;
    overflow-y: auto;
    scrollbar-width: none;  /* Firefox */
    width: 105%;
}

/* profile header with pfp and description */
.profileContainer .headerContainer{
    align-items: center;
    background-color: #d6d6d6;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0px;
    width: 100%;
}

.profileContainer .headerContainer img{
    border-radius: 500px;
    border: 3px rgb(173, 173, 173) solid;
    width: 20vh;
}

.profileContainer .descContainer{
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-left: 10px;
    width: 30%;
} 

.descContainer #userName{
    font-size: 35px;
}

.descContainer h1, .descContainer p {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.descContainer #userDesc{
    height: 60%;
    margin: 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.descContainer #userDate{
    font-weight: bold;
}

/* user's post section */
.userFeedContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.userFeedContainer .userPostContainer{
    background-color: black;
    border-radius: 10px;
    margin: 30px 0px;
    width: 80%;
}

.userFeedContainer .userPostContainer img{
    display: block;
    margin: auto;
    width: 80%;
}

.userFeedContainer .nameDateContainer{
    align-items: center;
    background-color: rgb(221, 221, 221);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.userFeedContainer h1{
    font-size: 30px;
}

.userFeedContainer .postBodyContainer{
    border-radius: 0px 0px 10px 10px;
    box-shadow: inset 0 -4px 6px rgba(0, 0, 0, 0.5);
    margin-top: 0%;
    padding: 10px 20px;
}

/* edit profile popup */
.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control the opacity */
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999; /* Ensure the overlay appears above other content */
}

.editModal:not(.modalHeader){
    background-color: white;
    border-radius: 10px;
    height: 80vh;
    margin: auto;
    width: 40vw;
    z-index: 1000; /* Ensure the modal appears above the overlay */
}

.editModal .modalHeader{
    background-color: #f8a526;
    font-size: 30px;
    margin-bottom: -5%;
}

.editModal h1{
    margin-bottom: 5%;
    padding: 0px 20%;
    text-align: center;
}

.modalHeader button{
    background-color: rgb(226, 228, 230);
    border-radius: 10px;
    font-size: 30px;
    margin-right: 2%;
    padding: 10px;
}

.profileSectionContainer{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 20%;
    width: 80%;
}

.profileForm{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}

.profileForm input[type=text], .profileForm textarea{
    font-size: 20px;
    padding: 2%;
    width: 80%;
}

.profileForm textarea{
    font-size: 20px;
    padding: 2%;
    resize: none;
    height: 150px;
}


.profileForm input[type=file]{
    cursor: pointer;
}

.profileForm textarea{
    font-size: 20px;
    padding: 2%;
    resize: none;
}

.profileForm input[type=text], .profileForm textarea{
    border-radius: 10px;
    border: 5px solid rgb(226, 228, 230);
    outline: none;
}

.profileForm button{
    background-color: #f8a526;
    border-radius: 20px;
    border: 3px solid #f8a526;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Add darker orange shadow */
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 50px;
}

.profileForminput[type=file]{
    font-size: 20px;
}

.profileForm button:hover{
    background-color: white;
    border: 3px solid #f8a526;
}