.settingsContainer .pageContainer{
    background-color: #ffcf88;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.settingsContainer .settingsSection{
    align-items: center;
    background-color: #f8a526;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 98vh; /* Adjust as needed */
    justify-content: space-between;
    margin: 10px -8%;
    width: 105%;
}

.settingsSection .userInfo{
    align-items: center;
    background-color: rgb(221, 221, 221);
    border-radius: 10px 10px 0 0;
    display: flex;
    gap: 20px;
    height: 30%;
    justify-content: center;
    width: 100%;
}

.settingsSection .userInfo img{
    border-radius: 500px;
    border: solid 3px rgb(153, 152, 152);
    height: 70%;
}

.settingsSection .userInfo h1, .settingsSection .userInfo p{
    margin: 0; 
    padding: 0; 
}

.settingsSection .userInfo h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.settingsSection .userInfo p{
    font-weight: bold;
}

#logoutBtn{
    font-size: 30px;
    margin: 30px;
}

